.estrutura{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "cabeca cabeca cabeca cabeca"
    "principal principal principal principal"
    "ad ad ad ad"
    "pe pe pe pe"
    
    ;
}