@import 'header';
@import 'nav';
@import 'main';
@import 'aside';
@import 'footer';
@import 'responsive';

body{
    margin: 0;
}








$primary-color: #5E548E;
$secondary-color: #231942;
$tertiary-color: #9F86C0;